.App {
  text-align: center;
}
.Name {
  padding: 50px;
  display: block;
  color: #169aaf;
  text-align: center;
  justify-content: center;
}
.content{
  text-align: left;
  color: black;
  font-family: "Times New Roman";


}
.json {
  text-align: left;
}
.input {
  width: auto;
  display: block;
  margin: auto;
}

.error {
  text-align: center;
  font-size: xx-large;
  margin: auto;
  color: red;
}


button{
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
